{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}

{% block body %}
<br>
<br>
<br>
<div class="row">
  <div class="col m3 s0"></div>
  <div class="col s12 m6">
    <div class="card-panel blue-grey lighten-5">
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12 ">
              <input id="icon_prefix" type="text" name="groupname" class="validate">
              <label for="icon_prefix">Group Name</label>
            </div>
            <div class="input-field col s12">
              <textarea id="textarea1" class="materialize-textarea" name="groupdesc"></textarea>
              <label for="textarea1">Group description</label>
            </div>
          </div>
          <div data-target="modal1" class="btn-floating btn-large waves-effect waves-light red right fixed-action-btn modal-trigger"><i class="material-icons">add</i></div>
          <!-- Modal Structure -->
          <div id="modal1" class="modal">
            <div class="modal-content">
              <h4>Modal Header</h4>
              <ul class="collection">
                {% for user in users_not_in_group %}
                <li class="collection-item avatar blue-grey lighten-5">
                  <i class="material-icons circle">folder</i>
                  <label for="user-tile-name">{{user.username}}</label>
                  <p id="user-tile-name" class="black-text title">{{user.name}}</p>
                  <span class="secondary-content">
                    <a class="waves-effect waves-light btn-small green">Add User</a>
                  </span>
                </li>
                {% endfor %}
              </ul>
            </div>
            <div class="modal-footer">
              <div class="modal-close waves-effect waves-green btn-flat">Close</div>
            </div>
          </div>
          <button class="btn waves-effect waves-light col s12 m12" id="create-group-button" type="submit" name="submit">Update!</button>
        </form>
        <div class="col m12" id="modify-user-panel">
          <ul class="collection">
            {% for user, is_group_admin in users %}
            <li class="collection-item avatar blue-grey lighten-5">
              <i class="material-icons circle">folder</i>
              <label for="user-tile-name">{{user.username}}</label>
              <p id="user-tile-name" class="black-text title">{{user.name}}</p>
              <span class="secondary-content">
                <a class="waves-effect waves-light btn-small red darken-2">Delete User</a>
                <div class="switch">
                  <label>
                    Admin
                    <input type="checkbox">
                    <span class="lever"></span>
                  </label>
                </div>
              </span>
            </li>
            {% endfor %}
          </ul>
          
          
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}