{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}

{% block body %}
<br>
<br>
<br>
<div class="row">
  <div class="col m3 s0"></div>
  <div class="col s12 m6">
    <div class="card-panel blue-grey lighten-5">
      <div class="row">
        <form class="col s12" method="POST">
          <div class="row">
            <div class="input-field col s12 ">
              <i class="material-icons prefix">person_outline</i>
              <input id="icon_prefix" type="text" name="groupname" class="validate">
              <label for="icon_prefix">Group Name</label>
            </div>
            <div class="input-field col s12">
              <textarea id="textarea1" class="materialize-textarea" name="groupdesc"></textarea>
              <label for="textarea1">Group description</label>
            </div>
            <div class="input-field col s12 m10">
              <select name="members" multiple class="icons" required>
                <option value="" disabled selected>Select group members</option>
                {% for user in registered_users %}
                {% if user.uid != session_data['user_id'] %}
                <option  value="{{user.uid}}" data-icon="{{ url_for('static', filename='images/goku.png') }}" class="left">{{user.name}}</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>
            <button class="btn waves-effect waves-light col s12 m2" id="create-group-button" type="submit" name="submit">Create!
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}